<%= turbo_frame_tag @service do %>
  <%= form_with model: [@client, @service], class: 'row my-3' do |f| %>
    <%= render 'shared/errors', object: @service %>

    <div class="col-md-6">
      <%= f.label :date, class: 'form-label' %>
      <%= f.date_field :date, class: 'form-control form-control-lg' %>
    </div>

    <div class="col-md-6">
      <%= f.label :purifier_part_ids, class: 'form-label' %>
      <%= f.collection_select :purifier_part_ids, purifier_parts, :id, :title, {}, {multiple: true} %>
    </div>

    <div class="col-md-3">
      <%= f.label :pressure, class: 'form-label' %>
      <%= f.text_field :pressure, class: 'form-control form-control-lg' %>
    </div>

    <div class="col-md-3">
      <%= f.label :in_tds, class: 'form-label' %>
      <%= f.text_field :in_tds, class: 'form-control form-control-lg' %>
    </div>

    <div class="col-md-3">
      <%= f.label :out_tds_before, class: 'form-label' %>
      <%= f.text_field :out_tds_before, class: 'form-control form-control-lg' %>
    </div>

    <div class="col-md-3">
      <%= f.label :out_tds_after, class: 'form-label' %>
      <%= f.text_field :out_tds_after, class: 'form-control form-control-lg' %>
    </div>

    <div class="col-md-12">
      <%= f.label :notes, class: 'form-label' %>
      <%= f.text_area :notes, class: 'form-control form-control-lg' %>
    </div>

    <div>
      <%= f.label :status, class: 'form-check-label' do %>
        <%= f.check_box :status, class: 'form-check-input' %>
        <span>Completed</span>
      <% end %>
    </div>

    <div class="col-12 my-3">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
    </div>

  <% end %>
<% end %>