<%= turbo_frame_tag service do %> 
<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Parts for replace</th>
        <th scope="col">Status</th>
        <th scope="col">Notes</th>
        <th scope="col">Ticket datetime</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= service.date %></th>
        <td><%= render service.purifier_parts %></td>
        <% if service.status == true %>
          <th class="text-success">Completed</th>
        <% else %>
          <th class="text-danger">
            Not completed
          </th>
        <% end %>
        <td><%= service.notes %></td>
        <td>
          <% if service.tickets.present? %>
            <%= service.tickets.last.datetime %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to 'Edit', edit_client_service_path(@client, service), class: 'btn btn-outline-danger mb-3' %>
<% end %>


