<%= turbo_frame_tag service do %> 
<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col"><%= t '.date' %></th>
        <th scope="col"><%= t '.replacement' %></th>
        <th scope="col"><%= t '.status' %></th>
        <th scope="col"><%= t '.notes' %></th>
        <th scope="col"><%= t '.ticket_datetime' %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= service.date %></th>
        <td><%= render service.purifier_parts %></td>
        <% if service.status == true %>
          <th class="text-success">
            <%= t '.completed' %>
          </th>
        <% else %>
          <th class="text-danger">
            <%= t '.not_completed' %>
          </th>
        <% end %>
        <td><%= service.notes %></td>
        <td>
          <% if service.tickets.present? %>
            <%= service.tickets.last.datetime %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= link_to t('.buttons.edit'), edit_client_service_path(@client, service), class: 'btn btn-outline-danger mb-3' %>
<% end %>


