<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col"><%= t '.date' %></th>
      <th scope="col"><%= t '.replaced' %></th>
      <th scope="col"><%= t '.in_pressure' %></th>
      <th scope="col"><%= t '.in_tds' %></th>
      <th scope="col"><%= t '.out_tds_before' %></th>
      <th scope="col"><%= t '.out_tds_after' %></th>
      <th scope="col"><%= t '.status' %></th>
      <th scope="col"><%= t '.notes' %></th>
    </tr>
    </thead>
    <tbody>
      <% @client.services[0..-2].each do |service| %>
        <tr>
          <th scope="row"><%= service.date %></th>
          <td><%= render service.purifier_parts %></td>
          <td><%= service.pressure %></td>
          <td><%= service.in_tds %></td>
          <td><%= service.out_tds_before %></td>
          <td><%= service.out_tds_after %></td>
          <% if service.status == true %>
            <td class="text-success">
              <%= t '.completed' %>
            </td>
          <% else %>
            <td class="text-danger">
              <%= t '.not_completed' %>
            </td>
          <% end %>
          <td><%= service.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>