<div class="table-responsive-md">
  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Replaced parts</th>
      <th scope="col">Input pressure</th>
      <th scope="col">Input TDS</th>
      <th scope="col">Output TDS before</th>
      <th scope="col">Output TDS after</th>
      <th scope="col">Status</th>
      <th scope="col">Notes</th>
    </tr>
    </thead>
    <tbody>
      <% @client.services[0..-2].each do |service| %>
        <tr>
          <th scope="row"><%= service.date %></th>
          <td><%= render service.purifier_parts %></td>
          <td><%= service.pressure %></td>
          <td><%= service.in_tds %></td>
          <td><%= service.out_tds_before %></td>
          <td><%= service.out_tds_after %></td>
          <% if service.status == true %>
            <td class="text-success">Completed</td>
          <% else %>
            <td class="text-danger">
              Not completed
            </td>
          <% end %>
          <td><%= service.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>