<div class="table-responsive">
  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col"><%= t '.date' %></th>
      <th scope="col"><%= t '.in_pressure' %></th>
      <th scope="col"><%= t '.in_tds' %></th>
      <th scope="col"><%= t '.out_tds' %></th>
      <th scope="col"><%= t '.status' %></th>
      <th scope="col"><%= t '.notes' %></th>
    </tr>
    </thead>
    <tbody>
      <% if @client.installations.present? %>
        <% @client.installations.each do |installation| %>
          <tr>
            <th scope="row"><%= installation.date %></th>
            <td><%= installation.pressure %></td>
            <td><%= installation.in_tds %></td>
            <td><%= installation.out_tds %></td>
            <% if installation.status == true %>
              <th class="text-success">
                <%= t '.completed' %>
              </th>
            <% else %>
              <th class="text-danger">
                <%= t '.not_completed' %>
                <% if installation.tickets.present? %>
                  <%= t '.ticked_created' %>
                <% else %>
                  <%= link_to t('.buttons.add_ticket'), new_installation_ticket_path(installation), class: 'btn btn-danger' %>
                <% end %>
              </th>
            <% end %>
            <td><%= installation.notes %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>