<h4><%= t '.purifier_specs' %></h4>
<div class="table-responsive-md">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col"><%= t '.brand' %></th>
        <th scope="col"><%= t '.number_of_stages' %></th>
        <th scope="col"><%= t '.pump' %></th>
        <th scope="col"><%= t '.tank' %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= client.purifier_brand %></th>
        <td><%= client.purifier_stages %> <%= t '.stages' %></td>
        <% if client.purifier_pump.present? %>
          <th class="text-success"><%= t '.pump_present.yes' %></th>
        <% else %>
          <th class="text-danger"><%= t '.pump_present.no' %></th>
        <% end %>
        <td><%= client.purifier_tank %> <%= t '.l' %></td>
      </tr>
    </tbody>
  </table>
</div>
