<%= turbo_frame_tag client do %>
  <div class="row mb-3">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="display-6"><%= client.last_name %> <%= client.first_name %></h5>
          <h4>
            <small class="text-muted">Purifier:</small>
            <%= client.purifier_brand %>
          </h4>

          <h4>
            <small class="text-muted">Install date:</small>
            <% if client.installations.present? %>
              <time datetime="<%= client.installations.last.date %>">
                <%= client.installations.last.date %>
              </time>
            <% else %>
              No information available
            <% end %>
          </h4>

          <h4>
            <small class="text-muted">Next service date:</small>
            -------
          </h4>
          <h4>
            <small class="text-muted">Phone:</small>
            <%= client.phone %>
          </h4>
          <h4>
            <small class="text-muted">Address:</small>
            <%= client.address %>
          </h4>
        </div>
      </div>
    </div>

    <div class="col-sm-8">

      <div class="card mb-3">
        <div class="card-body">
          <% if client.installations.present? %>
            <h5 class="display-6">Installation details:</h5>
            <%= render 'installations_details' %>
          <% else %>
            <h5 class="text-muted mb-0">No completed or planned installations yet...</h5>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <% if client.services.present? %>
            <h6 class="display-6">Last services:</h6>
          <% else %>
            <h5 class="text-muted mb-0">No service performed or scheduled yet...</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

