<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col"><%= sort_link @q, :id, default_order: :desc, class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :first_name, 'Name', class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :address, 'Address', class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :phone, 'Phone', class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :purifier_brand, 'Purifier model', class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :installations_date, 'Installation date', class: 'text-reset' %></th>
    <th scope="col"><%= sort_link @q, :services_date, 'Following service', class: 'text-reset' %></th>
  </tr>
  </thead>
  <tbody>
  <% @clients.each do |client| %>
    <%= tag.tr data: { controller: 'table',
                       'action': 'click->table#getCard',
                       'table-id-value': client.id } do %>
      <th scope="row"><%= client.id %></th>
      <td><%= client.name %></td>
      <td><%= client.address %></td>
      <td><%= client.phone %></td>
      <td><%= client.purifier_brand %></td>

      <% if client.installations.present? %>
        <td><%= client.installations.last.date %></td>
      <% else %>
        <td>No installations</td>
      <% end %>

      <% if client.services.present? %>
        <td><%= client.services.last.date %></td>
      <% else %>
        <td>No service</td>
      <% end %>

    <% end %>
  <% end %>
  </tbody>
</table>