<%= render 'shared/errors', object: @client %>

<p class="lead">
  <%= t '.tagline' %>
</p>
<%= form_with model: @client, class: 'row g-3' do |f| %>
  <div class="col-md-6 mb-3">
    <%= f.label :first_name, class: 'form-label' %>
    <%= f.text_field :first_name, class: 'form-control form-control-lg' %>
  </div>

  <div class="col-md-6 mb-3">
    <%= f.label :last_name, class: 'form-label' %>
    <%= f.text_field :last_name, class: 'form-control form-control-lg' %>
  </div>

  <div class="col-md-6 mb-3">
    <%= f.label :address, class: 'form-label' %>
    <%= f.text_field :address, class: 'form-control form-control-lg' %>
  </div>

  <div class="col-md-6 mb-3">
    <%= f.label :phone, class: 'form-label' %>
    <%= f.text_field :phone, class: 'form-control form-control-lg' %>
  </div>

  <div class="col-md-6 mb-3">
    <%= f.label :purifier_brand, class: 'form-label' %>
    <%= f.select :purifier_brand, PurifierBrand.pluck(:title), {include_blank: true}, data: {controller: 'ts--select'}, class: 'form-select form-select-lg' %>
  </div>

  <div class="col-md-2 mb-3">
    <%= f.label :purifier_stages, class: 'form-label' %>
    <%= f.select :purifier_stages, PurifierStage.pluck(:number), {include_blank: true}, data: {controller: 'ts--select'}, class: 'form-control form-control-lg' %>
  </div>


  <div class="col-md-2 mb-3">
    <%= f.label :purifier_tank, class: 'form-label' %>
    <%= f.select :purifier_tank, PurifierTank.pluck(:capacity), {include_blank: true}, data: {controller: 'ts--select'}, class: 'form-control form-control-lg' %>
  </div>

  <div class="col-md-2 mb-3">
    <div class="row">
      <span><%= t '.pump' %></span>
    </div>

    <div class="form-switch">
      <%= f.label :purifier_pump, class: 'form-check-label' do %>
        <%= f.check_box :purifier_pump, class: 'form-check-input', style: 'height:2.7em; width:5em; margin-top:0.65em' %>
      <% end %>
    </div>
  </div>


  <div class="col-12 mb-3">
    <%= f.submit t('.buttons.add'), class: 'btn btn-primary' %>
  </div>
<% end %>