<div class="table-responsive-md">
  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col-sm-2">Date</th>
      <th scope="col-sm-2">Replaced elements</th>
      <th scope="col-sm-1">Incoming pressure</th>
      <th scope="col-sm-1">Input TDS</th>
      <th scope="col-sm-1">Output TDS before service</th>
      <th scope="col-sm-1">Output TDS after service</th>
      <th scope="col-sm-2">Status</th>
      <th scope="col-sm-2">Notes</th>
    </tr>
    </thead>
    <tbody>
      <% @client.services.each do |service| %>
        <tr>
          <th scope="row"><%= service.date %></th>
          <td><%= service.replaced %></td>
          <td><%= service.pressure %></td>
          <td><%= service.incoming_tds %></td>
          <td><%= service.out_tds_before %></td>
          <td><%= service.out_tds_after %></td>
          <% if service.status == true %>
            <td class="text-success">Completed</td>
          <% else %>
            <td class="text-danger">Not completed</td>
          <% end %>
          <td><%= service.notes %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>