<div class="row mb-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <% if @client.services.present? %>
          <h4><%= t '.scheduled_service' %></h4>
          <%= render 'services/scheduled_service', service: @client.services.last %>
          <% if @client.services.last.tickets.present? %>
            <a class="btn btn-danger disabled mb-3" role="button" aria-disabled="true">
              <%= t '.buttons.ticket_added' %>
            </a>
          <% else %>
            <%= render 'tickets/add_ticket' %>
          <% end %>
          <% if @client.services.length > 1 %>
            <h4><%= t '.service_history' %></h4>
            <%= render 'services/services_history' %>
          <% end %>
        <% else %>
          <h5 class="text-muted mb-0">No service performed or scheduled yet...</h5>
        <% end %>
      </div>
    </div>
  </div>
</div>
