<div class="col-lg-3 mb-3">
  <div class="card h-100">
    <div class="card-header">
      <h5 class="card-title text-center">
        <%= ticket.ticketable_type %>
      </h5>
      <h6 class="card-subtitle text-danger text-center">
        Datetime: <%= ticket.formatted_datetime %>
      </h6>
    </div>

    <div class="card-body">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text">
            Client: <strong><%= ticket.client_name %></strong>
          </p>
          <p class="card-text">
            Address: <strong><%= ticket.ticketable.client.address %></strong>
          </p>
          <p class="card-text">
            Phone: <strong><%= ticket.ticketable.client.phone %></strong>
          </p>
        </li>
        <% if ticket.ticketable_type == "Installation" %>
          <li class="list-group-item">
            <p class="card-text text-center">
            Purifier for installation:
            </p>
          </li>
          <li class="list-group-item">
            <p class="card-text">
              <strong><%= ticket.purifier %></strong>
            </p>
          </li>
        <% else %>
          <li class="list-group-item">
            <p class="card-text text-center">
            Replacement parts:
            </p>
          </li>
          <li class="list-group-item">
            <p class="card-text">
              <strong><%= render ticket.ticketable.purifier_parts %></strong>
            </p>
          </li>
        <% end %>
      </ul>

        <div class="d-grid gap-2 col-6 mx-auto">
          <%= link_to 'Close ticket', if ticket.ticketable_type == "Installation" 
                                        edit_client_installation_path(ticket.ticketable.client, ticket.ticketable)
                                      else 
                                        edit_client_service_path(ticket.ticketable.client, ticket.ticketable)
                                      end, class: 'btn btn-outline-danger' %>
        </div>

    </div>
  </div>
</div>
